<section class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Tax Rules</h2>
    <app-button
      [text]="'Add Tax Rule'"
      [icon]="'bi bi-plus'"
      [variant]="'primary'"
      (click)="addRule()">
    </app-button>
  </div>
  <!-- <app-table
    [columns]="columns"
    [data]="taxRules"
    [showActions]="true">
    <ng-template let-rule>
      <i class="bi bi-pencil" (click)="editRule(rule)"></i>
      <i class="bi bi-trash" (click)="deleteRule(rule)"></i>
    </ng-template>
  </app-table> -->
  <app-table
    [columns]="titles"
    [data]="taxRules"
    [actionsTemplate]="actions"
  ></app-table>
  <ng-template #actions let-rule>
    <button
      pButton
      icon="pi pi-pencil"
      class="p-button-text p-button-sm me-2"
      (click)="editRule(rule)"
    ></button>
    <button
      pButton
      icon="pi pi-trash"
      class="p-button-text p-button-danger p-button-sm"
      (click)="deleteRule(rule)"
    ></button>
  </ng-template>
</section>
