h3 {
  text-align: center;
  margin: 5px 0;
}

table {
  opacity: 1; 

  th {
    text-align: center !important;

    &:nth-last-child(2),
    &:last-child {
      &:before,
      &:after {
        display: none;
      }
    }
  }
}
